

nav a{
  padding: 10px 10px;
  background-color: lightgray;
}
header{
  text-align: center;

}
section#featured-property figure{
  text-align: center;
  font-size: small;
}
section#featured-property {
  margin: auto;
}

section#featured-property p {
 width: 800px;
 text-align:center;
 margin: auto;
 padding-bottom: 2ch;

}

section#details div{
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;
}
